body {
  background-color: #B1C8C9;
}

.container {
  margin: 0 auto;
  width: 75%;
  height: auto;
  text-align: center;
}

.left {
  float: left;
  width: 50%;
}

.left > h2 {
  display: inline-block;
}

.right {
  float: right;
  width: 50%;
}

.right >h2 {
  display: inline-block;
}

.top {
  width: 100%;
}

.bottom {
  width: 100%;
}

.btn {
  margin: 1%;
  height: auto;
  width: 10%;
  text-align: center;
}

.btn:hover {
  color: black;
}

.btn:active {
  background-color: black;
}

#binc {
  color: green;
  font-size: 50px;
  background-color: #B1C8C9;
}

#binc:active {
  color: black;
}

#bdec {
  color: red;
  font-size: 50px;
  outline: none;
  background-color: #B1C8C8;
}

#bdec:active {
  color: black;
}

#winc {
  color: green;
  font-size: 50px;
  background-color: #B1C8C9;
}

#winc:active {
  color: black;
}

#wdec {
  color: red;
  font-size: 50px;
  outline: none;
  background-color: #B1C8C8;
}

#wdec:active {
  color: black;
}

h1 {
  text-align: center;
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 10px;
}
